@import "_palette.scss";

.mdl-layout__container{ }
.mdl-layout__obfuscator{
    @media screen and (min-width: 1024px) {
        display: none !important;
    }
}
.mdl-layout{
    background: url(../images/bg-main.png);
    .mdl-layout__drawer-button{
        z-index: 7;
        margin: 10px 12px;
        color: #fff;
        .material-icons{
            font-size: 30px;
        }
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}

.mdl-layout__header{
    z-index: 6;
    @media screen and (max-width: 1024px) {
        @include display-flex();
    }
    .mdl-layout__header-row{
        padding: 0 20px 0 30px;
        height: 60px;
        @media screen and (max-width: 1024px) {
            padding: 0 20px 0 70px;
        }
    }
    .mdl-layout__header--notification{
        margin: 0 30px;
        color: $secondary-text-color;
        background: #fff;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;
        &.active {
            color: $accent-color;
            cursor: pointer;
            &:after {
                right: -10px;
                color: #fff;
                background: $secondary-text-color;
            }
        }
        &:not(.active){
            &:after{
                display: none;
            }
        }
    }
    .mdl-button--apps{
        height: 40px;
        width: 40px;
        line-height: 40px;
        i{
            text-align: center;
            font-size: 32px;
            left:40%;
        }
    }
}

.mdl-layout__drawer {
    border: none;
    z-index: 5;
    background: #FAFAFA;
    padding-top: 60px;
    @media screen and (min-width: 1024px) {
        transform: translateX(0);
    }

    .mdl-menu__container {
        z-index: -1;
    }
    .mdl-navigation{
        z-index: -2;
        @include flex-grow(1);
        .mdl-navigation__separator{
            display: block;
            height: 1px;
            background: $divider-color-lite;
            margin: 10px 0;

        }
        .mdl-navigation__link {
            @include display-flex();
            @include flex-direction(row);
            @include align-items(center);
            font-weight: 500;
            color: $primary-text-color;
            padding: 10px 10px 10px 20px;
            &:hover {
                background: transparent;
                color: $primary-text-color;
            }
            .count{
                margin: 0 0 0 10px;
                background: #E7E7E7;
                border-radius: 2px;
                padding: 0 5px;
                min-width: 30px;
                text-align: center;
            }
            .material-icons {
                font-size: 24px;
                margin-right: 22px;
                height: 36px;
                width: 36px;
                line-height: 36px;
                text-align: center;
                border-radius: 18px;
                background: #71BBE3;
                color: #fff;
                &.active,
                &.target{
                    background: #0288D1;
                }
                &.self-background{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 20px;
                    font-size: 40px;
                    background: transparent;
                    color: #71BBE3;
                    &.active,
                    &.target{
                        color: #0288D1;
                        background: transparent;
                    }
                }
                &.small{
                    height: 24px;
                    width: 24px;
                    background: transparent;
                    color: $primary-text-color;
                    margin: 0;
                    line-height: 24px;
                }

            }
        }
    }
    .mdl-menu .mdl-menu__item {
        @include display-flex();
        @include align-items(center);
    }
}

.mdl-layout__drawer~.mdl-layout__content,
.mdl-layout__drawer~.grid-bottom{
    @media screen and (min-width: 1024px) {
        margin-left: 240px;
    }
}
.grid-bottom{
    background: #fff;
    padding: 0;
    max-height: 0;
    &.is-shown {
        max-height: 500px;
        transition: max-height 0.5s ease-out;
    }
    .grid-bottom--inner{
        padding: 15px 20px;
        color: $secondary-text-color;
        @include display-flex();
        @include flex-direction(row);
    }
    .grid-selected{
        line-height: 32px;
        height: 32px;
        position: relative;
    }
    .pager{
        @include display-flex();
        @include flex-direction(row);
        &>div{
            @include display-flex();
            @include flex-wrap(wrap);
            line-height: 32px;
            height: 32px;
            vertical-align: middle;
            margin-left: 30px;
            position: relative;
        }
        .per_page{
            a{
                line-height: 32px;
                display: inline-block;
                vertical-align: top;
                color: $secondary-text-color;
                font-weight: normal;
                cursor: pointer;
                span{
                    margin: 0 3px 0 15px;
                    position: relative;
                    top:-7px;
                }
                .material-icons{
                    line-height: 32px;
                }
            }
            .mdl-menu__container {
                ul{
                    padding: 0;
                }
                li{
                    line-height: 30px;
                    height: 30px;
                    &[disabled]{
                        a{
                            @include opacity(0.5);
                        }
                    }
                }
                a{
                    line-height: 30px;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}

.mdl-layout__search{
    background: #fff;
    height: 32px;
    padding: 5px ;
    margin: 10px 20px;
    color: $secondary-text-color;
    width: 375px;
    position: relative;
    @media screen and (max-width: 980px) {
        display: none;
    }

    .mdl-layout__search-form{
        white-space: nowrap;
        .mdl-textfield__label{
            top:4px;
            &:after{
                bottom: 0;
            }
        }
    }
    .mdl-textfield{
        padding: 0;
    }
}

.main-avatar-dropdown {
    @include display-flex();
    @include flex-direction(row);
    @include align-items(center);
    position: relative;
    width: 100%;
    #accbtn{
        width: 48px;
        height: 48px;
        background: #003E60;
        img{
            width: 48px;
            height: 48px;
            border-radius: 24px;
            display: block;
        }
    }
}

.website-switcher{
    position: relative;
    cursor: pointer;
    &+.mdl-menu__container{
        left: 20px!important;
        z-index: 2;
        min-width: 200px;
        .website-switcher__menu{
            background: #fff;
            right: 20px;
            width: 100%;
        }

    }
}
