@import "_palette.scss";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.mdl-layout-title{
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    letter-spacing: -1px;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.fab-bottom{
    position: fixed;
    bottom: 30px;
    right: 36px;
    z-index: 2;
}
.login-card-wide.mdl-card{
    max-width: 512px;
    margin: 100px auto 20px auto;
    .mdl-card__title {
        color: #fff;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .mdl-card__actions{
        text-align: right;
        .btn-link{
            margin-right: 10px;
        }
    }
}

.wide-table{
    width: 100%;
}

.pager{
    width: 100%;
    background: #fff;
    ul{
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 5px;
            a{
                text-decoration: none;
                cursor: pointer;
                &.active{
                    color: $primary-text-color;
                }
            }
        }
    }
}

.main-loader-ctrl,
.grid-pop-ctrl{
    background-color: transparent;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.is-visible {
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
    }
    .mdl-spinner{
        margin: auto;
    }
}

.main-loader-ctrl{
    overflow: hidden;
}
#horisontal-loader-ctrl{
    z-index: 10;
    position: fixed;
    top:55%;
    left: 50%;
    margin: 0 0 0 -125px;
    visibility: hidden;
    width: 250px;
    &.is-visible {
        visibility: visible;
    }
    @media screen and (min-width: 1024px) {
        margin: 0 0 0 0;
    }
}
.grid-pop-ctrl{
    z-index: 6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &.is-visible {
        .grid-pop{
            transition: all .4s cubic-bezier(.25,.8,.25,1);
            -webkit-transform: translate3d(0,0,0) scale(1);
            transform: translate3d(0,0,0) scale(1);
        }
    }
    .grid-pop{
        min-width: 240px;
        max-width: 80%;
        max-height: 80%;
        position: relative;
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        -webkit-transform: translate3d(0,0,0) scale(0);
        transform: translate3d(0,0,0) scale(0);
    }
    .buttons{
        text-align: right;
        border-top: 1px solid rgba(0,0,0,.1);
        padding-top: 8px;
    }
    .grid-pop-header{
        margin: -8px -8px 10px -8px;
        padding: 0 16px;
        width: 100%;
        position: relative;
        .mdl-layout-title{
            color: #fff;
        }
        .mdl-button{
            position: absolute;
            top:-16px;
            right: -16px;
        }
    }

}