html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.main-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.main-layout {
    .main-header .mdl-textfield {
        padding-top: 27px;
    }
    .mdl-layout__header .mdl-layout__drawer-button {
        color: rgba(0, 0, 0, 0.54);
    }
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.main-drawer {
    border: none;
    .mdl-menu__container {
        z-index: -1;
    }
    .main-navigation {
        z-index: -2;
    }
    .mdl-menu .mdl-menu__item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.main-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.main-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.main-navigation {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    .mdl-navigation__link {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.56);
        font-weight: 500;
        &:hover {
            background-color: #00BCD4;
            color: #37474F;
        }
        .material-icons {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.56);
            margin-right: 32px;
        }
    }
}

.main-content {
    max-width: 1080px;
    margin: 0 auto;
}

.login-card-wide.mdl-card{
    max-width: 512px;
    margin: 100px auto 20px auto;
    .login-card-bg{
        background: url('../images/nume_welcome.png') center / cover;
    }
    .mdl-card__title {
        color: #fff;
        height: 176px;
        background: -webkit-linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 40%);
        background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 40%);
    }
    .mdl-card__actions{
        text-align: right;
        .btn-link{
            margin-right: 10px;
        }
    }
}

.login-card-google.mdl-card{
    max-width: 512px;
    margin: 20px auto;
    min-height: 20px;
    .login-card-bg{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .mdl-card__actions{
        text-align: center;
    }
}

.wide-table{
    width: 100%;
}

.pager{
    width: 100%;
    background: #fff;
    ul{
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 5px;
            a{
                text-decoration: none;
            }
        }
    }
}