@import "palette.scss";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.main-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.max-width-175{
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mdl-button {
    &.mdl-button--accent,
    &.mdl-button--icon,
    &.mdl-button--fab{
        color: $primary-color-text!important;
    }
}

.mdl-textfield{
    max-width: 100%;
}

.main-layout {
    background: url(../images/bg-main.png);
    .main-header .mdl-textfield {
        padding-top: 27px;
    }
    .mdl-layout__header .mdl-layout__drawer-button {
        color: $primary-color-text;
    }
    .mdl-layout-title{
        color: $primary-color-text;
    }
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.main-drawer {
    border: none;
    .mdl-menu__container {
        z-index: -1;
    }
    .main-navigation {
        z-index: -2;
    }
    .mdl-menu .mdl-menu__item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.main-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.main-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.mdl-layout__drawer {
    .main-navigation {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        .mdl-navigation__link {
            display: -webkit-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.56);
            font-weight: 500;
            &:hover {
                background-color: $primary-color-dark;
                color: $primary-color-light;
            }
            .material-icons {
                font-size: 24px;
                color: rgba(255, 255, 255, 0.56);
                margin-right: 32px;
            }
        }
    }
}
.mdl-layout__content{
}
.fab-bottom{
    position: absolute;
    bottom: 20px;
    right: 36px;
    z-index: 2;
}
.main-content {
    max-width: 1080px;
    margin: 0 auto;
}

.login-card-wide.mdl-card{
    max-width: 512px;
    margin: 100px auto 20px auto;
    .mdl-card__title {
        color: #fff;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .mdl-card__actions{
        text-align: right;
        .btn-link{
            margin-right: 10px;
        }
    }
}

.wide-table{
    width: 100%;
}

.pager{
    width: 100%;
    background: #fff;
    ul{
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            padding: 0 5px;
            a{
                text-decoration: none;
            }
        }
    }
}